src/test/resources/com/eliteGrass/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.eliteGrass.com/schema/user"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.eliteGrass.com/schema/user"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">

	<xsd:element name="custom-user-bern">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="username" type="xsd:string"/>
			<xsd:attribute name="password" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>